body {
    background-color: black;
}

.tile {
    display: inline-flex;
    background-color: rgba(39,7,20,1);
}

.grass {
    background-image: url('tile/background-grass.jpg');
    background-size: 300%;
    background-color: rgba(66,140,34,1);
    background-blend-mode: difference;
}

.rock {
    background-image: url("tile/Rock-2.png");
    background-size: 103% 104%;
}

.chest {

}

.stoneWall {
    background-image: url("tile/stone-wall.jpeg");
    background-size: 100%;
}

.tree {
    background-image: url("tile/tree-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.passable-tree {
    background-image: url("tile/tree-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.skull {
    background-image: url("tile/skull-stamp.JPG");
    background-size: 100%;
}

.lava {
    background-image: url("tile/Fire-3.jpg");
    background-size: 100%;
    animation: fire 2s infinite;
    border-radius: 2px;
}

@keyframes fire {
    0%, 100% {
        filter: saturate(100%);
    }
    50% {
        filter: saturate(2.5);

    }

}

.row {
    border: 0;
    margin: 0;
    height: 40px;
}


